<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="[groupName].[projectName]"
    >
    <application
        android:name="com.modularization.dev.DevApplication"
        android:label="[projectName]"
        >
        <activity android:name="com.modularization.dev.DevActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>