<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pqixing.moduleapi">

    <application>
        <activity
            android:name=".VirtualActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"></activity>
    </application>

</manifest>